#welcome {
    text-align: center;
    background: linear-gradient(#020024 0%, #f2f309 100%);
    background-repeat: no-repeat;

}

#About {
    text-align: center;
    background: linear-gradient(#ff0000 0%, #e4ff00 100%);
    background-repeat: no-repeat;
}

#Paintings {
    text-align: center;
    background: linear-gradient(#ff0000 0%, #e4ff00 100%);
    background-repeat: no-repeat;
}

#Work {
    text-align: center;
    background: linear-gradient(#ff0000 0%, #e4ff00 100%);
    background-repeat: no-repeat;
}

#Inspi {
    text-align: center;
    background: linear-gradient(#ff0000 0%, #e4ff00 100%);
    background-repeat: no-repeat;
}

#Contact {
    text-align: center;
    background: linear-gradient(#ff0000 0%, #e4ff00 100%);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
}

#hobby {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

h2 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
}

p {
    text-shadow: 2px 2px #F8BBDO;
    font-family: 'Lobster Two', cursive;
}

.menu {
    list-style: none;
    font-family: 'Lobster', cursive;
    position: fixed;
    top: 10px;
    right: 30px;
    float: right;
    cursor: pointer;
}

.link {
    float: left;
    color: #3309f3;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: 'Kaushan Script';
    font-size: 20px;
}

img {
    width: 250px;
    margin-bottom: 50px;
    border-radius: 50%;
    height: 350px;
}

.link:hover {
    background-color: #e6f309;
}

a {
    text-decoration: none;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
img {
    transition: transform .2s;
    border:10px solid #000;
}

img:hover {
    transform: scale(0.9);
}
